*
	box-sizing: border-box
main
	max-width: 750px
	margin: 0 auto
fieldset
	padding: 10px
form
	input
		width: 100%
		margin: 0
		padding: 10px
:is(#find_form fieldset, li fieldset, li form)
	display: flex
